.accordion-container {
  width: 40%;
  margin: 1.5rem auto;
}

.accordion-container p {
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  user-select: none;
}

.accordion-container > small {
  display: block;
  overflow: hidden;
  transform-origin: top;
  transition: transform 0.2s ease-in-out;
}
